.img1{
    width: 300px;
    height: 220px;
}
.fondo{
    background-color: #1A1D29;
}
.contenedor{
    display: flex;
    justify-content: center;
}
h2{
    color: white;
}
ul{
    color: white;
}
p{
    color: red;
}